@model SkillEditDto
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Skill</h1>
<hr />
<div class="row">
    <form method="post">
        <input asp-for="Id" class="form-control" type="hidden"/>
        <span>Content</span>
        <input asp-for="Content" class="form-control" type="text" placeholder="Enter Content.." />
        <br />
        <input class="btn btn-info" value="Save Changes" type="submit" />
    </form>
</div>

