@model ManagerEditDto
@{
    ViewData["Title"] = "EditManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Manager</h1>
<hr />
<div class="row">
    <form method="post">
        <input asp-for="Id" class="form-control" type="hidden" />
        <br />
        <span>UserName</span>
        <input asp-for="UserName" class="form-control" type="text" placeholder="Enter UserName.." />
        <br />
        <span>Password</span>
        <input asp-for="Password" class="form-control" type="text" placeholder="Enter Password.." />
        <br />
        <input class="btn btn-info" value="Save Changes" id="BtnManager" type="submit" />
    </form>
</div>
<br />
@if (ViewBag.success == 1)
{
    <div class="alert alert-success">
        Parolanız Başarıyla Değiştirildi.
    </div>
}

