@model List<ProjectListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Project</h1>
<hr />
<div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
        <br />
        <a href="~/Admin/Project/NewProject" class="text-primary font-weight-bold text-xs">
            Add New Project
        </a>
        <br />
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Picture | Title</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Pro in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="~/Images/@Pro.ImageUrl" class="avatar avatar-sm me-3" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">@Pro.Title</h6>
                                    @*<p class="text-xs text-secondary mb-0">john@creative-tim.com</p>*@
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                            @if (Pro.Status)
                            {
                                <span class="badge badge-sm bg-gradient-success">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-sm bg-gradient-danger">Passive</span>
                            }
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@Convert.ToDateTime(Pro.CreatedAt).ToString("dd/MM/yyyy")</span>
                        </td>
                        <td class="align-middle">
                            <a href="~/Admin/Project/EditProject/@Pro.Id" class="text-info font-weight-bold text-xs" data-toggle="tooltip">
                                Edit
                            </a>
                            |
                            <a href="~/Admin/Project/DeleteProject/@Pro.Id" class="text-warning font-weight-bold text-xs" data-toggle="tooltip">
                                Delete
                            </a>
                            |
                            @if (Pro.Status)
                            {
                                <a href="~/Admin/Project/ChangeStatusProject/@Pro.Id" class="text-danger font-weight-bold text-xs" data-toggle="tooltip">
                                    Passive
                                </a>
                            }
                            else
                            {
                                <a href="~/Admin/Project/ChangeStatusProject/@Pro.Id" class="text-success font-weight-bold text-xs" data-toggle="tooltip">
                                    Active
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
